@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
}

.swiper-slide {
  opacity: 0.5; /* Opacidade inicial para os slides inativos */
  transform: scale(0.85); /* Reduz levemente o tamanho dos slides inativos */
  transition: transform 0.3s ease, opacity 0.3s ease; /* Transição suave */
}

.swiper-slide-active {
  opacity: 1; /* Slide ativo em destaque */
  transform: scale(1); /* Slide ativo em tamanho original */
}

